{% block changePasswordForm %}
    <form action="{{ path('testscreen_account_change_password') }}" method="POST">

        <label>Old password: </label>
        <input type="password" name="old_password" />

        <label>Password:</label>
        <input type="password" name="new_password" />

        <label>API Key:</label>
        <input type="text" name="api_key" />

        <input type="submit" value="Change Password" />
    </form>
{% endblock %}