{% block loginForm %}
    <form action="{{ path('testscreen_account_login') }}" method="POST">

        <label>Username: </label>
        <input type="text" name="username" />

        <label>Password:</label>
        <input type="password" name="password" />

        <input type="submit" value="Login" />
    </form>
{% endblock %}