{% block deactivateForm %}
    <form action="{{ path('testscreen_account_new_password') }}" method="POST">

        <label>API Key: </label>
        <input type="text" name="api_key" />

        <label>Reset Token:</label>
        <input type="text" name="reset_token" />

        <label>New Password:</label>
        <input type="text" name="password" />

        <input type="submit" value="New Password" />
    </form>
{% endblock %}