{% block registerForm %}
    <form action="{{ path('testscreen_account_register') }}" method="POST">

        <label>Username: </label>
        <input type="text" name="username" />

        <label>Password:</label>
        <input type="password" name="password" />

        <label>Email: </label>
        <input type="text" name="email" />

        <label>First name:</label>
        <input type="text" name="firstName" />

        <label>Last name:</label>
        <input type="text" name="lastName" />

        <input type="submit" value="Register" />
    </form>
{% endblock %}