{% block updateForm %}
    <form action="{{ path('testscreen_account_update_one') }}" method="POST">

        <label>Username: </label>
        <input type="text" name="username" />

        <label>Password:</label>
        <input type="password" name="password" />

        <label>Email: </label>
        <input type="text" name="email" />

        <label>First name:</label>
        <input type="text" name="first_name" />

        <label>Last name:</label>
        <input type="text" name="last_name" />

        <label>API Key:</label>
        <input type="text" name="api_key" />

        <input type="submit" value="Update" />
    </form>
{% endblock %}